$font-button-dark: rgba(3, 131, 132, 1);
$font-dark: rgba(18, 17, 23, 1);
$mid-Gray: rgba(105, 105, 109, 1);
$white: #ffff;
$font-button-light: rgba(82, 187, 187, 1);
$brown-jumbo: rgba(116, 55, 14, 1);
$light-gray: rgba(188, 189, 189, 1);
$ocra: rgba(189, 149, 66, 1);
$top-bar: rgba(33, 51, 62, 1);



@mixin button {
}


