/* colors palette */
@import "@/assets/scss/variables.scss";

img {
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;

}

button {
  border: none;
}

.container {
  max-width: 1200px;
}

/* utility */
.light_gray {
  color: $light-gray;
}

.font_100 {
  font-weight: 100;
}


.font_500 {
  font-weight: 500;
}


.font_900 {
  font-weight: 900;
}

.text_green {
  color: $font-button-light;
}
.text_dark_green {
  color: $font-button-dark;
}

.bg_light {
  background-color: $light-blue;
}

.transparent_btn {
  background-color: transparent;
  border: 1px solid $font-button-dark;
  color: $white;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  margin-left: 1rem;
}

.fs_7 {
font-size: 12px;
}